*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-size: 10px;
  /* font-weight: 200; */
  height: 100%;
}

body {
 font-size: 1.6rem;
 font-family: Montserrat, Arial;
 height: 100%;
 overflow: hidden;
}

.layout{
  width: 100%;
  height: 100%;
}

.layout__main{
  width: 100%;
  min-height: 100vh;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main__background{
  content: "";
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  position: absolute;
  z-index: -1;
  filter: blur(30px);
  background-image: url('https://www.recetasnestle.com.ec/sites/default/files/styles/recipe_detail_desktop_new/public/srh_recipes/681c719667d572276a1507aea71de9ca.jpg?itok=BXa7wk3U');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  

}

.load__number{
  font-size: 7rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow:  0 0 1rem black;

}

.load__btn{
  padding: 1rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  background-color: coral;
  color: white;
  cursor: pointer;
  transition: all 300ms ease;
}

.load__btn:hover{
  background-color: rgb(239, 69, 31);
}

.load__complete{
  display: none;
  color: greenyellow;
  font-weight: 600;
  font-size: 3.5rem;
  text-shadow: 0 0 1rem black;

}
